body{
    background-image: url('img/Bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    }
#logo{
    width:350px;
    height: 90px;
    margin-top: 250px;
    margin-left: 95px;
    }
.card{
    width: 415px;
    border: none;
    border-radius: 1.25rem;
    margin-top: 180px;
    margin-left: 40px;
    margin-right: 45px;
}
.card-body{
width: 415px;
height: 270px;
box-shadow: 0px 1px 6px #00000029;
border-radius: 20px;
opacity: 1;
padding: 30px;
}
.card-title{
width: 244px;
height: 33px;
text-align: left;
font: normal normal bold 24px/33px Open Sans;
letter-spacing: 0px;
color: #000000;
text-transform: uppercase;
opacity: 1;
}
.card-text{
width: 376px;
height: 48px;
text-align: left;
font: normal normal normal 18px/24px Open Sans;
letter-spacing: 0px;
color: #000000;
opacity: 0.5;
}
#Emailjs{
    margin-bottom: 20px;
  }
  
.input-group{
    border-radius: 6px;
    opacity: 1;
}
.input-group-img {
      display: inline-block;
      /*width: 55px; */
      height: 39px;
      background: #F7FAFF 0% 0% no-repeat padding-box;
      border: 1px solid #DDDDDD;
      border-radius: 6px;
      opacity: 1;
}
#input_img_1{
    width: 20px;
    height: 16px;
    background: transparent url('img/email.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 13px;
    margin-top: 6px;
}
#contact-email{
    width: 63px;
    height: 39px;
    text-align: left;
    font: normal normal 550 16px/38px Open Sans;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
    background: #F7FAFF 0% 0% no-repeat padding-box;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: none;
}
.btn{
width: 358px;
height: 42px;
background: transparent linear-gradient(270deg, #386CB5 0%, #669FED 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 5px #386CB566;
border-radius: 6px;
opacity: 0.5;
}
#retrive{
width: 162px;
height: 22px;
text-align: left;
font: normal normal 600 16px/22px Open Sans;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
}
#email-error{
    color: red;
    font-size: 14px;
}
@media (max-width: 375px) {
    #logo{
    width: 250px;
    height: 83px;
    margin-top: 37px;
    margin-left: 54px;
    }
    .card{
        width: 339px;
        margin-top: 66px;
        margin-left: 5px;
        margin-right: 0px;
    }
    .card-body{
        width: 339px;
       height: 270px;
    }
    .card-text{
        width: 318px;
        height: 48px;
        font: 16px / 24px "Open Sans";
    }
    .btn{
        width: 280px;
    }
}
@media (min-width:376px) and (max-width:450px){
    #logo{
    width: 263px;
    height: 82px;
    margin-top: 36px;
    margin-left: 54px;
    }
    .card{
        width: 339px;
        margin-top: 66px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .card-body{
       width: 339px;
       height: 270px;
    }
    .card-text{
    width: 318px;
    height: 48px;
    font: 16px / 24px "Open Sans";
}
.btn{
    width: 280px;
}
}
@media (min-width: 451px) and (max-width: 895px){
    #logo{
        margin-left: -50px;
    }
    .card{
        width: 407px;
        margin-left: 4px;
    }
    .card-body{
        width: 407px;
    }
    .btn{
        width: 349px;
    }
}

