body{
    background-image: url('img/Bg.png');
    background-repeat: no-repeat;
    font-style: Open Sans;
    }
#logo{
    width:350px;
    }
.card{
    width: 65%;
    border: none;
    margin-top: 30px;
    box-shadow: 0px 1px 6px #00000029;
    border-radius: 20px;
    opacity: 1;
    padding: 30px;
}

.card-title{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}
.card-text{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.5;
}

.input-group-img {
      display: inline-block;
      /*width: 55px; */
      height: 39px;
      background: #F7FAFF 0% 0% no-repeat padding-box;
      border: 1px solid #DDDDDD;
      border-radius: 6px;
      opacity: 1;
}
#input_img_1{
    width: 20px;
    height: 16px;
    background: transparent url('img/email.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 13px;
    margin-top: 6px;
}
#contact-email{
    width: 63px;
    height: 39px;
    text-align: left;
    /*font: normal normal 550 16px/38px Open Sans;*/
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
    background: #F7FAFF 0% 0% no-repeat padding-box;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: none;
}
#Emailjs{
    margin-bottom: 28px;
}
.btn{
    background: transparent linear-gradient(270deg, #386CB5 0%, #669FED 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #386CB566;
    border-radius: 6px;
    opacity: 0.5;
    border: none;
}
#retrive{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
#email-error{
    color: red;
    font-size: 14px;
}
.form-control:focus {
     box-shadow: none;
}
input:focus{
    outline: none !important;
    border-top: 1px solid #DDDDDD !important;
    border-bottom: 1px solid #DDDDDD !important;
    border-right: 1px solid #DDDDDD !important;
  }
  #contact-email::placeholder{
    color:#000000 !important;
    font-weight: 600;
}
@media (max-width:991px){
    .card{
       width: 100%;
    }
    #logo{
      width:250px;
    }
}

