body{
    background-image: url('img/Bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
    width:300px;
    }
.card{
   width: 67%;
   margin-top: 30px;
   padding: 12px;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   box-shadow: 0px 1px 6px #00000029;
   border-radius: 20px;
   opacity: 1;
   border: none;
}

.card-body {
    flex: 1 1 auto;
    padding-left: 1em;
    padding-top: 22px;
   /* padding: 2rem 1rem; */
}

.card-title{
    /*width: 173px;
   height: 33px; */
   font-weight:700;
   font-size: 21px;
   text-align: left;
   letter-spacing: 0px;
   color: #000000;
   text-transform: uppercase;
   opacity: 1;
}
.step1{
    top: 8px;
    position: relative;
    font-size: 14px;
    letter-spacing: 0px;
    color: #386CB5;
    text-transform: uppercase;
    opacity: 1;
    /**left: 35px; 
    width: 86px;
    height: 24px;
    text-align: left;**/
}
.step2{
    top: 8px;
    position: relative;
    font-size: 14px;
    letter-spacing: 0px;
    color: #AFC4E1;
    text-transform: uppercase;
    opacity: 1;
    /**left: 35px;
    position: relative;
    width: 86px;
    height: 24px;
    text-align: left; **/
}
.hrStep1{
    background: #386CB5 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: auto;
}
.hrstep2{
    background: #AFC4E1 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: auto;
}
.hrStep1:not([size]) {
    height: 3px;
    border-radius: 10px;
}
.hrstep2:not([size]) {
    height: 3px;
    border-radius: 10px;
}
.form-floating{
    border: none;
}
.form-control:focus {
  box-shadow: none;
}

input:focus{
    outline: none !important;
    border-top: 1px solid #DDDDDD !important;
    border-bottom: 1px solid #DDDDDD !important;
}

#floatingfName,#floatinglName{
   /* width: 167px; */
    height: 43px;
    background: #F7FAFF 0% 0% no-repeat padding-box;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    opacity: 1;
    font-size: 14px;
}
#floatingfName:focus{
    border-bottom: 2px solid #386CB5 !important;
}

#floatinglName:focus{
    border-bottom: 2px solid #386CB5 !important;
}

#Labelflname{
    /*height: 22px;
    text-align: left;
    /*font: normal normal 600 16px/22px Open Sans;*/
    letter-spacing: 0px;
    color:#000000 !important;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    padding: 9px;
    padding-left: 25px;
}
#firstname-error{
    color: red;
    font-size: 12px;
    font-weight: 600;
    height: 24px;
}
#lastname-error{
    color: red;
    font-size: 12px;
    font-weight: 600;
    height: 24px;
   
}
/*.row label{
    position: absolute;
    top:0;
    color:#000000;
    font-size: 14px;
    font-weight: 400;
    pointer-events: none;
    transform: translateY(30px);
    transition: all 400ms ease-in-out;
}
.row input:focus, .row input:valid {
    border-bottom-color: blue;
}
.row input:valid + label,
.row input:focus + label {
    color: grey;
    font-size: 14px;
    transform: translateY(0);
} */
.input-email{
    border: none;
}
.input-group{
    /* background: #F7FAFF 0% 0% no-repeat padding-box; */
     border-radius: 6px;
     opacity: 1;
}
.input-group-img {
       display: inline-block;
       width: 36px; 
       height: 43px;
       background: #F7FAFF 0% 0% no-repeat padding-box;
       border: 1px solid #DDDDDD;
       border-radius: 6px;
       opacity: 1;
       border-right: none;
}
#input_img_1{
    height: 12px;
    opacity: 1;
    margin-left: 13px;
    margin-top: 11px;
}
#contact-email{
  height: 43px;
  background: #F7FAFF 0% 0% no-repeat padding-box;
  border: 1px solid #DDDDDD;
  opacity: 1;
  width: 63px;
  text-align: left;
  letter-spacing: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: none;
  font-size: 14px;
}
#email-error{
    color: red;
    font-size: 12px;
    font-weight: 600;
    height: 24px;
  }
#contact-number{
    height: 43px;
    padding-left: 90px;
    width: 100%;
    background: #F7FAFF 0% 0% no-repeat padding-box;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    opacity: 1;
    text-align: left;
    /*font: normal normal 600 16px/22px Open Sans; */
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
    font-size: 14px;
}
#number-error{
    color: red;
    font-size: 12px;
    font-weight: 600;
    height: 24px;
}
.subtitle{
    text-align: left;
    /*font: normal normal normal 16px/22px Open Sans;*/
    letter-spacing: 0px;
    color: #000000;
    font-size: 14px;
    opacity: 0.5;
}
.subheading{
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 15px;
}
#contact-password{
    height: 43px;
    background: #F7FAFF 0% 0% no-repeat padding-box;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    opacity: 1;
    text-align: left;
    /*font: normal normal 600 16px/22px Open Sans;*/
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
    font-size: 14px;
    border-right: none;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
#eyes-border{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-right: 1px solid #DDDDDD;;
    border-left: none;
}
/**enter password eyeimage id**/
#eye-img{
    margin-top: 12px;
    cursor: pointer; 
    border-radius: 2px;
    width: 18px;
    margin-left: 3px;
 }

 /**Confirm password eye image id**/
 #eyes-img{
    margin-top: 12px;
    cursor: pointer; 
    border-radius: 2px;
    width: 18px;
    margin-left: 3px;
 }
#password-error{
    color: red;
    font-size: 12px;
    font-weight: 600;
    height: 24px;
}
#confirm-password{
    height: 43px;
    background: #F7FAFF 0% 0% no-repeat padding-box;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    opacity: 1;
    text-align: left;
   /* font: normal normal 600 16px/22px Open Sans; */
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
    font-size: 14px;
    border-right: none;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
#confirmPass-error{
    color: red;
    font-size: 12px;
    font-weight: 600;
    height: 24px;
}
#nxtbtn{
    background: transparent linear-gradient(270deg, #386CB5 0%, #669FED 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #386cb566;
    border-radius: 6px;
    opacity: 1;
}
.btn{
    color: #FFFFFF;
    opacity: 1;
    font-size: 14px;
}
hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    /* border: 0; */
    opacity: 0.25;
}
#Dacct{
   /* width: 159px;
    height: 22px; */
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: 19px;
    font-weight: 700;
    font-size: 14px;
}
.login-btn{
   width: 119px;
   height: 39px;
   background: #FEC006 0% 0% no-repeat padding-box;
   box-shadow: 0px 1px 10px #0000001A;
   border-radius: 6px;
   opacity: 1;
   border: none;
   margin-top: 10px;
}
.lgntext{
     font-size: 14px;
    text-align: left;
    /*font: normal normal 600 16px/22px Open Sans;*/
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
.copyright{
    height: 79px;
    text-align: center;
    font-size: small;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding: 10px;
    font-size: 12px;
}
.form-control:focus {
    box-shadow: none;
  }
.form-control{
    border: none;
    background: #F7FAFF 0% 0% no-repeat padding-box;
}
#contact-email::placeholder{
    color:#000000 !important;
    font-size: 14px;
    font-weight: 550;
}
#contact-number::placeholder{
    color:#000000 !important;
    font-weight: 600;
    font-size: 14px;
}
#contact-password::placeholder{
    color:#000000 !important;
    font-weight: 600;
    font-size: 14px;
}
#confirm-password::placeholder{
    color:#000000 !important;
    font-weight: 600;
    font-size: 14px;
}
.iti {
    position: relative;
    display: inline-block;
    width: 100%;
}
.iti__flag-container {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 3px !important;
}
.iti--separate-dial-code .iti__selected-flag {
    background-color: white !important;
}

/************* Step-2 *****************/
#step2{
    display: none;
}
#schoolName, #stateName, #cityName, #countryName, #zipcode{
    background: #F7FAFF 0% 0% no-repeat padding-box;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    opacity: 1;
    height: 43px;
    font-size: 14px;
}
.createaccount-section{
    display: flex;
    justify-content: space-between;
}
#stepback{
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 14px;
}
.create-btn{
    background: transparent linear-gradient(270deg, #386CB5 0%, #669FED 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #386CB566;
    border-radius: 6px;
    opacity: 1;
    height: 43px;
    border: none;
}
.createtext{
    text-align: left;
    font-weight: 400;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 6px;
    font-size: 14px;
}
.terms{
    color: #386CB5;
}

.form-check-input:checked {
    background-color: rgb(43, 214, 43);
    border-color: rgb(226, 226, 226);
}
#schoolName::placeholder{
    color:#000000 !important;
    font-weight: 600;
    font-size: 14px;
}
#stateName::placeholder{
    color:#000000 !important;
    font-weight: 600;
    font-size: 14px;
}
#cityName::placeholder{
    color:#000000 !important;
    font-weight: 600;
    font-size: 14px;
}
#countryName::placeholder{
    color:#000000 !important;
    font-weight: 600;
    font-size: 14px;
}
#zipcode::placeholder{
    color:#000000 !important;
    font-weight: 600;
    font-size: 14px;
}
#school-error{
    color: red;
    font-size: 12px;
    font-weight: 600;
    height: 24px;
}
#state-error{
    color: red;
    font-size: 12px;
    font-weight: 600;
    height: 24px;
}
#city-error{
    color: red;
    font-size: 12px;
    font-weight: 600;
    height: 24px;
}
#county-error{
    color: red;
    font-size: 12px;
    font-weight: 600;
    height: 24px;
}
#zipcode-error{
    color: red;
    font-size: 12px;
    font-weight: 600;
    height: 24px;
}
#checkbox-error{
    color: red;
    font-size: 12px;
    font-weight: 600;
}

@media (max-width:991px){
      .card{
         width: 100%;
         margin-top: 3px;
      }
      #logo{
        width:250px;
      }
}
