body{
    background-image: url('img/Bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-style: Open Sans;
}
#logo{
    width:350px;
    }
.card{
   width: 75%;
   margin-top: 30px;
   padding: 12px;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   box-shadow: 0px 1px 6px #00000029;
   border-radius: 20px;
   opacity: 1;
}
.card-title{
    /*width: 173px;*/
   height: 33px;
   text-align: left;
  
   letter-spacing: 0px;
   color: #000000;
   text-transform: uppercase;
   opacity: 1;
}
.step1{
    top: 13px;
    left: 35px;
    position: relative;
    width: 86px;
    height: 24px;
    text-align: left;
   /* font: normal normal 587 16px/22px Open Sans; */
    letter-spacing: 0px;
    color: #386CB5;
    text-transform: uppercase;
    opacity: 1;
}
.step2{
    top: 13px;
    left: 35px;
    position: relative;
    width: 86px;
    height: 24px;
    text-align: left;
   /* font: normal normal 587 16px/22px Open Sans; */
    letter-spacing: 0px;
    color: #AFC4E1;
    text-transform: uppercase;
    opacity: 1;
}
.hrStep1{
    background: #386CB5 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
}
.hrstep2{
    background: #AFC4E1 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
}
.hrStep1:not([size]) {
    height: 2px;
}
.hrstep2:not([size]) {
    height: 2px;
}
.form-floating{
    border: none;
}
.form-control:focus {
  box-shadow: none;
}

input:focus{
  outline: none !important;
  border-top: 1px solid #DDDDDD !important;
  border-bottom: 1px solid #DDDDDD !important;
}
#floatingfName,#floatinglName{
   /* width: 167px;
    height: 48px; */
    background: #F7FAFF 0% 0% no-repeat padding-box;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    opacity: 1;
}
#Labelflname{
    height: 22px;
    text-align: left;
    /*font: normal normal 600 16px/22px Open Sans;*/
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
    padding: 19px;
}
.input-email{
    border: none;
}
.input-group{
    /* background: #F7FAFF 0% 0% no-repeat padding-box; */
     border-radius: 6px;
     opacity: 1;
}
.input-group-img {
       display: inline-block;
       width: 36px; 
       height: 41px;
       background: #F7FAFF 0% 0% no-repeat padding-box;
       border: 1px solid #DDDDDD;
       border-radius: 6px;
       opacity: 1;
       border-right: none;
}
#input_img_1{
    width: 20px;
    height: 16px;
    opacity: 1;
    margin-left: 13px;
    margin-top: 6px;
}
#contact-email{
  height: 41px;
  background: #F7FAFF 0% 0% no-repeat padding-box;
  border: 1px solid #DDDDDD;
  opacity: 1;
  width: 63px;
  text-align: left;
  /*font: normal normal 550 16px/38px Open Sans;*/
  letter-spacing: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: none;
}
#contact-number{
    height: 41px;
    width: 100%;
    background: #F7FAFF 0% 0% no-repeat padding-box;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    opacity: 1;
    text-align: left;
    /*font: normal normal 600 16px/22px Open Sans; */
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
}
.subtitle{
    text-align: left;
    /*font: normal normal normal 16px/22px Open Sans;*/
    letter-spacing: 0px;
    color: #000000;
    font-size: 15px;
    opacity: 0.5;
}
.subheading{
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 17px;
}
#contact-password{
    background: #F7FAFF 0% 0% no-repeat padding-box;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    opacity: 1;
    text-align: left;
    /*font: normal normal 600 16px/22px Open Sans;*/
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
}
#confirm-password{
    background: #F7FAFF 0% 0% no-repeat padding-box;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    opacity: 1;
    text-align: left;
   /* font: normal normal 600 16px/22px Open Sans; */
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
}
#nxtbtn{
    background: transparent linear-gradient(270deg, #386CB5 0%, #669FED 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #386cb566;
    border-radius: 6px;
    opacity: 1;
}
.btn{
    color: #FFFFFF;
    opacity: 1
}
hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    /* border: 0; */
    opacity: 0.25;
}
#Dacct{
   /* width: 159px;
    height: 22px; */
    text-align: left;
    /*font: normal normal 600 16px/22px Open Sans;*/
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: 32px;
    font-weight: 650;
}
.login-btn{
   width: 119px;
   height: 39px;
   background: #FEC006 0% 0% no-repeat padding-box;
   box-shadow: 0px 1px 10px #0000001A;
   border-radius: 6px;
   opacity: 1;
   border: none;
   margin-top: 23px;
}
.lgntext{
    width: 50px;
    height: 22px;
    text-align: left;
    /*font: normal normal 600 16px/22px Open Sans;*/
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
.copyright{
    height: 79px;
    text-align: center;
    font-size: small;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding: 10px;
}
.form-control:focus {
    box-shadow: none;
  }
.form-control{
    border: none;
    background: #F7FAFF 0% 0% no-repeat padding-box;
}
  
input:focus{
    outline: none !important;
    border-top: 1px solid #DDDDDD !important;
    border-bottom: 1px solid #DDDDDD !important;
}
#contact-email::placeholder{
    color:#000000 !important;
    font-weight: 600;
}
#contact-number::placeholder{
    color:#000000 !important;
    font-weight: 600;
}
#contact-password::placeholder{
    color:#000000 !important;
    font-weight: 600;
}
#confirm-password::placeholder{
    color:#000000 !important;
    font-weight: 600;
}
.iti {
    position: relative;
    display: inline-block;
    width: 100%;
}
.iti--separate-dial-code .iti__selected-flag {
    background-color: white !important;
}
#step2{
    display: none;
}
.school, .state, .city, .Country, .Zip{
    background: #F7FAFF 0% 0% no-repeat padding-box;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    opacity: 1;
}
#stepback{
    text-align: left;
    font-weight: 650;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
    cursor: pointer;
}
.create-btn{
    background: transparent linear-gradient(270deg, #386CB5 0%, #669FED 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #386CB566;
    border-radius: 6px;
    opacity: 1;
    height: 43px;
    border: none;
}
.createtext{
    text-align: left;
    font-weight: 500;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 6px;
}
.terms{
    color: #386CB5;
}
#flexCheckChecked{
      cursor: pointer;
}
#schoolName::placeholder{
    color:#000000 !important;
    font-weight: 600;
}
#stateName::placeholder{
    color:#000000 !important;
    font-weight: 600;
}
#cityName::placeholder{
    color:#000000 !important;
    font-weight: 600;
}
#countryName::placeholder{
    color:#000000 !important;
    font-weight: 600;
}
#zipcode::placeholder{
    color:#000000 !important;
    font-weight: 600;
}
@media (max-width:991px){
      .card{
         width: 100%;
      }
      #logo{
        width:250px;
      }
      #floatingfName, #floatinglName {
         margin-top: 10px;
}
}
