body{
background-image: url('img/Bg.png');
background-repeat: no-repeat;
background-size: cover;
font-style: Open Sans;
}
#logo{
    width:350px;
}
.card-group{
  width: 65%;
  margin-top: 100px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px #00000029;
  border-radius: 10px;
  padding: 12px;
  border: none;
}
.login{
  height: 33px;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
  font-weight: 700;
}
.textemail{
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.5;
}
.input-group{
 /* background: #F7FAFF 0% 0% no-repeat padding-box; */
  border-radius: 6px;
  opacity: 1;
}
.input-group-img {
    display: inline-block;
    width: 36px; 
    height: 39px;
    background: #F7FAFF 0% 0% no-repeat padding-box;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    opacity: 1;
    border-right: none;
}
#input_img_1{
  width: 18px;
  height: 14px;
  opacity: 1;
  margin-left: 13px;
  margin-top: 12px;
}
#input_img_2{
  width: 17px;
  height: 18px;
  opacity: 1;
  margin-left: 13px;
  margin-top: 10px;
}
::placeholder {
  font-size: 14px;
  font-weight: 550;
  color: #222222 !important;
  opacity: 1;
}
#contact-email{
  height: 39px;
  font-size: 15px;
  letter-spacing: 0px;
  background: #F7FAFF 0% 0% no-repeat padding-box;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-right: 1px solid #DDDDDD !important;
}
#eyes-border{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-right: 1px solid #DDDDDD;;
  border-left: none;
}
#eye-img{
   margin-top: 8px;
   cursor: pointer; 
   border-radius: 2px;
   width: 21px;
   margin-left: 3px;
}
#contact-password{
  height: 39px;
  font-size: 15px;
  letter-spacing: 0px;
  background: #F7FAFF 0% 0% no-repeat padding-box;
}
.form-control:focus {
  box-shadow: none;
}
.form-control{
  border-left: none;
}
.form-group{
  margin-top: 5px;
  justify-content: space-between;
}
input:focus{
  outline: none !important;
  border-top: 1px solid #DDDDDD !important;
  border-bottom: 1px solid #DDDDDD !important;
}
.pswd{
  border-right: none;
}
.form-check-label{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #000000BF;
  opacity: 0.75;
}
.form-check-input:checked {
  background-color: rgb(43, 214, 43);
  border-color: rgb(226, 226, 226);
}
.forgot{
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #0974DD;
  opacity: 1;
  text-decoration: none;
}
.login-btn{
  background: transparent linear-gradient(270deg, #386CB5 0%, #669FED 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 5px #386CB566;
  border-radius: 6px;
  opacity: 1;
  color: white;
  height: 40px;
  text-align: center;
  /*padding: 12px; */
  font-size: 12px;
  border: none;
  width: 100%;
  margin-top: 17px;
}
.logintxt{
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}
.register{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
#Dacct{
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  display: flex;
  align-items: center;
}
.register-btn{
  background: #FEC006 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 10px #0000001A;
  border-radius: 6px;
  opacity: 1;
  border: none;
  padding: 8px;
  height: 40px;
  width: 112px;
}
.regtext{
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
 }
.copyright{
  height: 79px;
  text-align: center;
  font-size: small;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding: 10px;
}
#email-error{
  color: red;
  font-size: 13px;
}
#password-error{
  color: red;
  font-size: 13px;
}
#submit-error{
  color: red;
  font-size: 13px;
}


@media (max-width: 767px){
  .card-group{
    width: 100%;
    margin-top: 0px;
 }
 #logo{
   width:200px;
   margin-top: 0px;
 } 
}
@media (min-width: 768px) and (max-width:991px){
  .card-group{
     width: 100%;
     margin-top: 30px;
  }
  #logo{
    width:250px;
    margin-top: 0px;
  }
}
@media (min-width:992px) and (max-width: 1199px){
     .card-group{
      width: 75%; 
      margin-top: 30px;
     }
     #logo{
       width: 309px;
     }
}
